<div class="row">
  <div class="col-sm-12 col-md-12 main">
    <h2 class="sub-header">作者专区 
      <% if @novles %>
        <span>&nbsp;&nbsp;总共 <%= @novels.length %> 本书</span>
      <% end %>
    </h2>
    <% if @author && @author.status == 1 %>
      <div class="sub-header row">
        <div class="col-xs-2 col-sm-2">
          <%= link_to "+ 新建书籍", new_novel_path, :class => "btn btn-default suosuo" %>
        </div>                   
      </div>

      <% if @novels %>
        <div class="table-responsive">
          <table class="table table-striped"><!--
            <thead>
              <tr>
                <th>书名</th>
                <th>作者</th>
                <th>操作</th>
                <th>书籍类别</th>
              </tr>
            </thead>-->
            <tbody>
              <% @novels.each do |novel| %>
                <tr>
                <td class="tushu-img"><%= link_to image_tag(novel.cover.url), novel_path(novel) %></td>
                  <td class="tushu-xinxi">
                    <div>书名：<%= link_to novel.name, novel_path(novel) %></div>
                    <div>作者：<%= novel.author.name%></div>
                    <div>类型：<%= novel.type%></div>
                    <div>评论：<%= novel.chapter_comments.length %>条</div>
                    <div><%= link_to "修改书籍资料", edit_novel_path(novel) %></div>
                  </td>
                  <td class="tushu-zhangjie">
                    <ul class="list-group">
                    <%= link_to "+ 新建章节", new_novel_chapter_path(novel, novel.chapters.new ) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <%= link_to "章节管理", current_chapters_novel_path(novel) %>
                    <% novel.chapters.order(created_at: :desc).limit(3).each do |chapter| %>
                      <li class="list-group-item">
                        <%= link_to "第#{chapter.number}章 #{chapter.name}", novel_chapter_path(novel,chapter) %>
                        <%= link_to '编辑', edit_novel_chapter_path(novel, chapter), class: 'badge' %>
                        <span class="badge">评论<%= chapter.chapter_comments.length %></span> 
                      </li>
                    <% end %>
                    </ul>
                  </td>
                  <td class="tushu-miaoshu">
                      <div>内容简介：</div>
                      <%= novel.description %>
                  </td>                  
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>

    <% elsif @author && @author.status == 0 %>
      <div class="alert alert-warning" role="alert">
        您好，您已提交申请成为作者的资料，我们很快会与您取得联系，请耐心等候。
      </div>
    <% else %>
      <%= render 'authors/new' %>
    <% end %>

  </div>
</div>
