
<div class="container-fluid">
  <div class="row">
    
    <div class="col-sm-12 col-md-12 main">

      <h2 class="sub-header">章节管理（<%= link_to @novel.name, novel_path(@novel) %>） <span>&nbsp;&nbsp;总共 <%= @chapters.length %> 章节</span></h2>
      
      <div  class="sub-header row">
        
        
        <div class="col-xs-2 col-sm-2">
          <%= link_to "+ 新建章节", new_novel_chapter_path(@novel), class: "btn btn-default suosuo" %>
        </div>
                           
      </div>          
      <div class="table-responsive">
        <ul class="list-group">
          <% @chapters.order(created_at: :desc).each do |chapter| %>
            <li class="list-group-item">
              <%= link_to "第#{chapter.number}章 #{chapter.name}", novel_chapter_path(@novel,chapter) %>
              <%= link_to '编辑', edit_novel_chapter_path(@novel, chapter), class: 'badge' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
