<div class="container">

  <div class="row">

    <div class="col-sm-8 blog-main">
    
   <div class="blog-header">
    <h1 class="blog-title"><%= link_to @novel.name, novel_path(@novel) %></h1>
    <p class="blog-description">
    作者：<%= link_to @novel.author.name, user_path(@novel.author.user) %>&nbsp;&nbsp;
    <span class="rich_media_meta rich_media_meta_text">评论总数：1119 条</span>&nbsp;&nbsp;
    <% if @chapters.last %>
      <span class="rich_media_meta rich_media_meta_text">最新更新时间：<%= @chapters.last.updated_at.to_s(:db) %></span>
    <% end %>
    </p>
   </div>
   
     <div>
       <!-- 文章内容区域 开始 -->    
        <ul class="list-group row zhangjieliebiao">
          <% @chapters.each do |chapter| %>
            <li class="list-group-item col-xs-12 col-sm-6">
              <%= link_to "第#{chapter.number}章 #{chapter.name}", novel_chapter_path(@novel, chapter) %>
              <span class="badge">评论14</span>
            </li>            
          <% end %>
        </ul>  
      </div>     
         
    </div>
    <!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>关于我们</h4>
        <p>谢谢大家的支持，希望有所触动时，大家能够积极评论，希望在大家一起的努力下，让这本书越来越有价值。<br/>读者QQ群：3472482378438
        </p>
      </div>
      <div class="sidebar-module">
        <h5>关注微信公众号，第一时间知晓小说动态</h5>
        <p><%= image_tag("erweima.jpg", class: "erweima") %></p>
      </div>
      <!--<div class="sidebar-module">
        <h4>标签筛选</h4>
        <ol class="list-unstyled">
          <li><a href="#">首页</a></li>
          <li><a href="#about">干货文章</a></li>
          <li><a href="#contact">长沙活动</a></li>
          <li><a href="#contact">长沙互联网界</a></li>
          <li><a href="#about">回湘十问</a></li>
          <li><a href="#contact">找组织</a></li>
        </ol>
      </div>-->
    </div><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</div><!-- /.container -->
