<div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">
        
       <div class="blog-header">
        <h1 class="blog-title"><%= "第#{@chapter.number}章 #{@chapter.name}" %></h1>
        <p class="blog-description">
        <span class="rich_media_meta rich_media_meta_text"><%= @chapter.created_at.to_s(:db) %>&nbsp;</span>
        <%= link_to @chapter.novel.author.name, user_path(@chapter.novel.author.user) %>
        </p>
      </div>
      
          <div class="blog-post">
           <div>
              <!-- 文章内容区域 开始 -->    
              <%= @chapter.content.html_safe %>
            </div><!-- /.blog-post -->
          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
              <% if  @chapter.previous_chapter %>
                <li><%=  link_to "上一章", novel_chapter_path(@novel, @chapter.previous_chapter) %>&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <% end %>
              <% if  @chapter.next_chapter %>
                <li><%=  link_to "下一章", novel_chapter_path(@novel, @chapter.next_chapter) %>&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <% end %>
              <li><%= link_to @chapter.novel.name + "目录", novel_chapters_path(@chapter.novel) %></li>
            </ul>
          </nav>
          
          <div class="pingluntianxie">
            <p>亲，想评论请先 <%= link_to "登录", user_session_path %> 哦，没有账号，请先 <%= link_to "注册", new_user_registration_path %> 啦。</p>  
            <%= form_for [@novel, @chapter, @chapter.chapter_comments.build], multiple: true, html: {class: "comment-form "} do |f| %>
              <%= render '/shared/error_messages', object: f.object %>
              <div class="form-group">
                <%= f.text_area :content, class: "form-control", placeholder: "请输入评论内容" %>
              </div>
              <%= f.submit "提交评论", class: "btn btn-default suosuo2" %>
            <% end %>

          </div>
          <div>
              <ul class="media-list">
                <% @chapter.chapter_comments.order(created_at: :desc).each do |chapter_comment| %>
                  <li class="media">
                    <div class="media-body">
                      <p class="media-heading" id="media-heading">评论人：<span class="anchorjs-icon"><%= chapter_comment.user.try(:username) %></span></p>
                      <p><%= chapter_comment.content %></p>
                    </div>
                  </li>
                <% end %>
              </ul>
          </div>
          
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>关于我们</h4>
            <p>谢谢大家的支持，希望有所触动时，大家能够积极评论，希望在大家一起的努力下，让这本书越来越有价值。<br/>读者QQ群：3472482378438
            </p>
          </div>
          <div class="sidebar-module">
            <h5>关注微信公众号，第一时间知晓小说动态</h5>
            <p><%= image_tag("erweima.jpg", class: "erweima") %></p>
          </div>
          <!--<div class="sidebar-module">
            <h4>标签筛选</h4>
            <ol class="list-unstyled">
              <li><a href="#">首页</a></li>
              <li><a href="#about">干货文章</a></li>
              <li><a href="#contact">长沙活动</a></li>
              <li><a href="#contact">长沙互联网界</a></li>
              <li><a href="#about">回湘十问</a></li>
              <li><a href="#contact">找组织</a></li>
            </ol>
          </div>-->
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->