<div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">
        
       <div class="blog-header">
        <h1 class="blog-title"><%= "第#{@chapter.number}章 #{@chapter.name}" %></h1>
        <p class="blog-description">
        <span class="rich_media_meta rich_media_meta_text"><%= @chapter.created_at.to_s(:db) %>&nbsp;</span>
        <a href="#"><%= @chapter.novel.author.name %></a>
        </p>
      </div>
      
          <div class="blog-post">
           <div>
              <!-- 文章内容区域 开始 -->    
              <%= @chapter.content.html_safe %>
            </div><!-- /.blog-post -->
          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
              <li><a href="#">上一章</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li><a href="#">下一章</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li><a href="#"><%= @chapter.novel.name %>目录</a></li>
            </ul>
          </nav>
          
          <div class="pingluntianxie">
             <form>          
                <div>      
                  <div>      
                    <p>亲，想评论请先 <a href="#">登录</a> 哦，没有账号，请先 <a href="#">注册</a> 啦。</p>
                    <p class="comment-form-comment">
                      <input type="radio" id="qingjie" aria-label="..."> <label for="qingjie">情节看法</label>            
                         &nbsp;&nbsp;&nbsp;&nbsp;
                      <input type="radio" id="guandian" aria-label="..."> <label for="guandian">观点看法</label>
                    </p>                   
                    <p class="comment-form-comment">
                      <textarea type="text" class="form-control" placeholder="请输入评论内容"></textarea>
                    </p> 
                    <p class="comment-form-comment">
                      <button href="#" class="btn btn-default suosuo2">提交评论</button>
                    </p>     
                   </div>      
                </div>
             </form> 
          </div>
          <div>
              <ul class="media-list">
                <li class="media">
                  <div class="media-body">
                    <p class="media-heading" id="media-heading">评论人：<span class="anchorjs-icon">西村夜月</span><span class="fr label label-info">情节看法</span></p>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                  </div>
                </li>
                
                <li class="media">
                  <div class="media-body">
                    <p class="media-heading" id="media-heading">评论人：<span class="anchorjs-icon">西村夜月</span><span class="fr label label-info">观点看法</span></p>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                        
                  </div>
                </li>
              </ul>
          </div>
          
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>关于我们</h4>
            <p>谢谢大家的支持，希望有所触动时，大家能够积极评论，希望在大家一起的努力下，让这本书越来越有价值。<br/>读者QQ群：3472482378438
            </p>
          </div>
          <div class="sidebar-module">
            <h5>关注微信公众号，第一时间知晓小说动态</h5>
            <p><%= image_tag("erweima.jpg", class: "erweima") %></p>
          </div>
          <!--<div class="sidebar-module">
            <h4>标签筛选</h4>
            <ol class="list-unstyled">
              <li><a href="#">首页</a></li>
              <li><a href="#about">干货文章</a></li>
              <li><a href="#contact">长沙活动</a></li>
              <li><a href="#contact">长沙互联网界</a></li>
              <li><a href="#about">回湘十问</a></li>
              <li><a href="#contact">找组织</a></li>
            </ol>
          </div>-->
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->